<div class="admin-side-nav">
  <span>Menu</span>
  <ul>
    <li>
      <%= link_to "Movies", admin_movies_path %>
    </li>
    <li>
      <%= link_to "New Movie", new_admin_movie_path %>
    </li>
    <li>
      <%= link_to "Schedules", admin_schedules_path %>
    </li>
  </ul>
</div>