/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.alert {
  display: block;
  text-align: center;
  padding: 15px;
  border: none;
  background-color: rgb(251, 250, 200);
  border-radius: 4px;
}

.alert.alert-success {
  background-color: #b7ffdb;
  color: #1b905b;
  border: 1px solid #5af9b1;
}

.alert.alert-danger {
  background-color: rgb(251, 200, 200);
  color:rgb(217, 58, 58);
  border: 1px solid #f95a5a;
}

.field_with_errors {
  display: inline-block;
}
